* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*hace que todos los elementos se mantengan dentro y no se genere un scroll horizontal*/
}


/*object-fit: fill; 
https://www.w3schools.com/css/css3_object-fit.asp*/


/*REGLAS DE COLOR DE TEXTO*/

.texto__gris {
    color: #5b6972;

}
.texto__gris ul li {
    color: #5b6972;
}

.texto__azul {
    color: #153c50;
}
/*Fin reglas color de texto*/




/*REGLAS COLOR BACKGROUND*/ /*
.bacground__greengrayish {
    background-color: #f2f4f3;
}
/*Fin reglas color background*/




/*REGLAS DEL NAV, BARRA DE NAVEGACION*/

.navBar { /***  F L E X B O X  ***/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 20px;
}

nav {
    margin: 20px;
}

nav ul li {
    list-style: none;
}

.navBar li {
    transition: transform 700ms 0s;
}

.pages__nav__a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;  
    font-size: 200%; 
    transition: transform 700ms 1s;
}

.navBar li:hover {
    transform: scale(1.1);
    
}

/*fin reglas del nav*/





/*REGLAS DEL BODY*/

h1 {
    text-align: center; /*titulos de las paginas centrados */
    padding: 30px;
    /*font-family: 'Anton', sans-serif; probemos otra*/
    font-family: 'Rubik Dirt', cursive;
    font-weight: 500; 
    font-size: 300%;
    color: #153c50;
    letter-spacing: 15px;
}

div h2 {
    padding: 15px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    /*margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: large;*/
    font-family: 'Adamina', serif;
    color: #5b6972;
}
/*fin reglas del body*/




/*REGLAS DEL FOOTER*/

footer {
    color: #153c50;
    background-color: #f2f4f3;
    text-align: center;
    padding: 20px;
    font-family: 'Adamina', serif;  
    margin-top: 30px;

}

footer ul { /***  F L E X B O X  ***/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    size: adjust 100px; 
    list-style: none;
    margin-bottom: 10px;
}

footer ul a {
    text-decoration: none; /*con esto quité el subrayado de las imágenes con links a redes */
}
/*fin reglas del footer*/






/*REGLAS ESPECIALES INDEX*/

.background__index {
    background-color: #0b1f2a   ;
    background-image: url(/assets/img/desktop/foto2.jpg);
    object-fit: contain;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-index {
    height: 930px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

.adam {
    letter-spacing: 14px;
    font-family: 'Rubik Dirt', cursive;
    font-size: 8.2rem;
    color: #0b1f2a;
    border: 1px solid black;
    grid-column: 2/6;
    grid-row: 6/8;
}

.feiguin {
    letter-spacing: 16px;
    font-family: 'Rubik Dirt', cursive;
    font-size: 5.1rem;
    color: #0b1f2a;
    border: 1px solid black;
    grid-column: 2/6;
    grid-row: 8/9;

}

/*
.altura__main__index {
    height: 930px; /*definí un altura de main para que se vea la imagen completa del background
}*/

.nav-index {
    width: 100vw;
    padding: 5px;
    padding-top: 7px;
    margin: 0px;
    background-color: #f2f4f3;
    opacity: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.index__nav__a {
    color: #153c50;
    font-family: 'Rubik Dirt', cursive;
    text-shadow: 0in;
    font-size: 2.0rem;
    text-align: center;
    text-decoration: none;
}
/*fin reglas especiales index*/



/*REGLAS ESPECIALES SOBRE MI*/

.container-bio {
    display: flex;
    flex-direction: column;
}

.foto-bio {
    width: 100vw;
    align-self: center;
}

.texto-bio {
    align-self: flex-start;
    margin: 30px;
}


.download-cv {
    align-self: flex-start;
    margin-left: 30px;
}
/*
.box-22 {
    background-image: url(img.JPG);
    background-size: cover;
    grid-column: 1/5;
    grid-row: 1/3;
    /*aca arranco a usar flex dentro del grid para ordenar
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}
*/

/*Fin reglas especiales sobre mi*/




/*REGLAS ESPECIALES GALERIA*/


.imgGallery h2 {
    text-align: center;
}


.container-fotos { /***  G R I D S  ***/
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 15px;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
    "foto-1 foto-2 foto-3" 
    "foto-4 foto-5 foto-6"
    "foto-7 foto-8 foto-9"
    "foto-10 foto-11 foto-12"
    "foto-13 foto-14 foto-15"
    "foto-16 foto-17 foto-18"
    "foto-19 foto-20 foto-21"
    "foto-22 foto-23 foto-24"
    ;
}



.foto {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
} 



.container-fotos img:hover  {
    transform: scale(1.1);
    /*-webkit-animation: 700ms ease-in;
    animation: 700ms ease-in both;*/
}


.foto-1 {
    grid-area: foto-1;
    transition: transform 700ms 0s;
    /*esta transition afecta al transform, tiempo de duracion, delay*/
    /*background-image: url("../assets/img/desktop/domo1.jpg");*/
    
}


.foto-2 {
    grid-area: foto-2;
    transition: transform 700ms 0s;
}

.foto-3 {
    grid-area: foto-3;
    transition: transform 700ms 0s;
}

.foto-4 {
    grid-area: foto-4;
    transition: transform 700ms 0s;
}

.foto-5 {
    grid-area: foto-5;
    transition: transform 700ms 0s;
}

.foto-6 {
    grid-area: foto-6;
    transition: transform 700ms 0s;
}

.foto-7 {
    grid-area: foto-7;
    transition: transform 700ms 0s;
}

.foto-8 {
    grid-area: foto-8;
    transition: transform 700ms 0s;
}

.foto-9 {
    grid-area: foto-9;
    transition: transform 700ms 0s;
}

.foto-10 {
    grid-area: foto-10;
    transition: transform 700ms 0s;
}

.foto-11 {
    grid-area: foto-11;
    transition: transform 700ms 0s;
}

.foto-12 {
    grid-area: foto-12;
    transition: transform 700ms 0s;
}

.foto-13 {
    grid-area: foto-13;
    transition: transform 700ms 0s;
}

.foto-14 {
    grid-area: foto-14;
    transition: transform 700ms 0s;
}

.foto-15 {
    grid-area: foto-15;
    transition: transform 700ms 0s;
}

.foto-16 {
    grid-area: foto-16;
    transition: transform 700ms 0s;
}

.foto-17 {
    grid-area: foto-17;
    transition: transform 700ms 0s;
}

.foto-18 {
    grid-area: foto-18;
    transition: transform 700ms 0s;
}

.foto-19 {
    grid-area: foto-19;
    transition: transform 700ms 0s;
}

.foto-20 {
    grid-area: foto-20;
    transition: transform 700ms 0s;
}

.foto-21 {
    grid-area: foto-21;
    transition: transform 700ms 0s;
}

.foto-22 {
    grid-area: foto-22;
    transition: transform 700ms 0s;
}

.foto-23 {
    grid-area: foto-23;
    transition: transform 700ms 0s;
}

.foto-24 {
    grid-area: foto-24;
    transition: transform 700ms 0s;
}



.container-videos { /***  G R I D S  ***/
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 250);
    row-gap: 5px;
    column-gap: 8px;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
    "video-1 video-2" 
    "video-3 video-4"
}

.video-1 {
    grid-area: video-1;
}

.video-2 {
    grid-area: video-2;
}

.video-3 {
    grid-area: video-3;
}

.video-4 {
    grid-area: video-4;
}


.video__styling {    
    width:39vw; 
    height: 326px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    border-radius: px;
    padding: 5px;
    margin: 5px;
}
/*Fin reglas especiales galeria*/






/*REGLAS ESPECIALES AGENDA*/

.contenedor-agenda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    margin-bottom: 25px;
}

.card__workshop {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 310px;
    font-family: 'Adamina', serif;
    color: #5b6972;
}

.img__workshop {
    width: 300px;
}

.button-info {
    background-color: #F2F4F3;
    color: #153c50;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Adamina', serif;
    font-size: 1.0rem;
    font-weight: 700;
}
/*Fin reglas especiales agenda*/




/*REGLAS ESPECIALES CONTACTO*/

.contendor-formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulario__contacto {
    width:50vw; 
    background-color: #f2f4f3;
    padding: 10px;
    color: black;
    line-height: 40px;
    text-align: left;   
    display: flex;
    flex-direction: column;
}



input {
    border: none;
    height: 25px;
    width: 70%;
}

input:focus {
    outline: none;
    border: 1px solid #d7dee1;
}

textarea {
    border: none;
    width: 70%;
}

textarea:focus {
    outline: none;
    border: 1px solid #d7dee1;
}

select {
    border: none;
    height: 25px;
    width: 70%;
}

select:focus {
    outline: none;
    border: 1px solid #d7dee1;
}


.newsletter {
    align-self: center;
}

.button-contacto {
    background-color: #5b6972;
    color: #f2f4f3;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Adamina', serif;
    font-size: 1.0rem;
    font-weight: 4  00;
    width: 70px;
    height: 30px;
    align-self: flex-end;
}
/*fin reglas especiales contacto*/