$color-1: #5b6972; /*p, borders img, video y cards de agenda, titulos card agenda, background boton contact form*/
$color-2: #153c50; /*a index, texto h1, text button agenda*/
$color-3:#0b1f2a; /*background index, nombre index*/
$color-4: #f2f4f3; /*backgrounds: footer, download cv, button info agenda, contact form, button contacto, */
$font-1:'Rubik Dirt', cursive; /*nav index, h1 pages*/
$font-2:'Anton', sans-serif; /*nav pages, titulos card agenda*/
$font-3:'Adamina', serif; /*p*/

/*bs no me admitió variables, OJO! Cambiar a mano*/