/*REGLAS ESPECIALES AGENDA*/

.contenedor-agenda { /***  F L E X B O X  ***/
    @include flex (row,space-evenly);
    flex-wrap: wrap;
    row-gap: 25px;
    margin-bottom: 25px;
    margin-top: 40px
}

.card__workshop {
    @include styling-postal (8px, 5px, 310px);
    p {
        @include typos ($font-3, 1.6rem, $color-1);
    }
}

.img__workshop {
    width: 300px;
}

.contenedor-button { /***  F L E X B O X  ***/
    @include flex (row,flex-end);
    flex-wrap: wrap;
}

.button-info {
    font-weight: 500;
    background-color: $color-4;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    a {
        text-decoration: none; 
        @include typos ($font-3, 1.7rem, $color-2);
    }
}

.link-agenda-bio {
    text-align: center;
    align-self: center;
    transition: font-weight 1000ms 0s;  
    transition: transform 700ms 0s;
    a {
    text-decoration: none;
    @include typos ($font-3, 1.6rem, $color-1);
    }
    &:hover {
        font-weight: 550;
        transform: scale(1.02);     }
    
}
/*Fin reglas especiales agenda*/