/*REGLAS DEL FOOTER*/

footer {
    @include typos ($font-3, 1.0rem, $color-2);
    background-color: $color-4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    ul { /***  F L E X B O X  ***/
        @include flex (row,center);
        flex-wrap: nowrap;
        gap: 20px;
        text-align: center;
        size: adjust 100px; 
        list-style: none;
        margin-bottom: 10px;
        a {
            text-decoration: none; 
        }
    }
}

.footer-pages {
    margin-top: 30px;
}
/*fin reglas del footer*/