/* I N D E X */
.body-index {
    background-color: $color-4;
}

.nav-hamburguesa-index {
    display: none;
}

/*REGLAS DEL INDEX*/

.body-index {
    background-image: url(../assets/img/desktop/index-d.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    @include grid (1fr,repeat(2,1fr) 100px);
    grid-template-areas: 
    "header-index"
    "main-index"
    "footer-index-d";
}

.header-index {
    grid-area: "header-index";
}

.main-index {
    grid-area: "main-index";
    @include grid (repeat(12,1fr),repeat(12,1fr))
}

.h1-index {
    grid-row: 6/11;
    grid-column: 3/4; 
    background: rgba( 11, 31, 42, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    width: 500px;
    padding-left: 15px;
    line-height: 80px;
    letter-spacing: 14px;
    @include typos ($font-1, 13.8rem, $color-1);
}

.feiguin {
    letter-spacing: 16px;
    @include typos ($font-1, 8.8rem, $color-1);
}

.footer-index-d {
    grid-area: "footer-index-d";
    background-color: transparent;
    @include flex (column, flex-end);
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 20px;
    margin-right: 20px;
        li {
            list-style: none;
        }
}

.footer-index-s {
    display: none;
    background-color: $color-4;
    text-align: center;
    padding: 5px;
    padding-top: 20px;
    p {
        @include typos ($font-3, 1.7rem, $color-2);
    }
    ul { /***  F L E X B O X  ***/
        @include flex (row,center);
        flex-wrap: nowrap;
        gap: 20px;
        text-align: center;
        size: adjust 100px; 
        list-style: none;
        margin-bottom: 10px;
        a {
            text-decoration: none; 
        }
    }
}

.nav-index { /***  F L E X B O X  ***/
    width: 100%;
    padding: 5px;
    padding-top: 7px;
    margin: 0px;
    background-color: #f2f4f3;
    opacity: 60%;
    position: fixed;
    @include flex (row, space-evenly);  
    a {
        @include typos ($font-1, 3.0rem, $color-2);
        text-align: center;
        text-decoration: none;
        animation-name: zoomInIndex;
        animation-duration: 3s;
    }
}

    
.link-2 {
    @include animation-nav-index (1000ms);
}
.link-3 {
    @include animation-nav-index (2000ms);
}
.link-4 {
    @include animation-nav-index (3000ms);
}
.link-5 {  
    @include animation-nav-index (4000ms);
}

    
@-webkit-keyframes zoomInIndex {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0, 0, 0); }
    100% {
        opacity: 1; } }
    
    @keyframes zoomInIndex {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(5.3, 5.3, 5.3);
        transform: scale3d(0, 0, 0); }
    50% {
        opacity: 1; } }    
/*fin reglas especiales index*/
