/* I N D E X */
.body-index {
    background-color: $color-4;
}
.container-index { /***  G R I D S  ***/
    @include grid (repeat(12,1fr), repeat(12,1fr));
}

.nav-hamburguesa-index {
    display: none;
}

/*REGLAS DEL NAV INDEX*/

.nav-index { /***  F L E X B O X  ***/
    grid-column: 1/13;
    grid-row: 1/2;
    width: 100%;
    padding: 5px;
    padding-top: 7px;
    margin: 0px;
    background-color: #f2f4f3;
    opacity: 60%;
    @include flex (row, space-evenly);  
    a {
        @include typos ($font-1, 2.0rem, $color-2);
        text-align: center;
        text-decoration: none;
        animation-name: zoomInIndex;
        animation-duration: 3s;
    }
}

.adam {
    letter-spacing: 14px;
    @include typos ($font-1, 8.2rem, $color-3);
    /*border: 1px solid black; lo dejo para centrar el elemento con el cliente*/
    grid-column: 2/6;
    grid-row: 6/8;
    @include flex (row, flex-start);
    align-items:flex-end ;
}

.feiguin {
    letter-spacing: 16px;
    @include typos ($font-1, 5.1rem, $color-3);
    /*border: 1px solid black; lo dejo para centrar el elemento con el cliente*/
    grid-column: 2/6;
    grid-row: 8/9;
}
    
.banner-index {
    grid-column: 1/13;
    grid-row: 1/13;
    background-image: url(../assets/img/desktop/foto-index.jpg);
    /*background-repeat: no-repeat;*/
    background-position: center center;
    object-fit: fill;
}
    
.link-2 {
    @include animation-nav-index (1000ms);
}
.link-3 {
    @include animation-nav-index (2000ms);
}
.link-4 {
    @include animation-nav-index (3000ms);
}
.link-5 {  
    @include animation-nav-index (4000ms);
}

    
@-webkit-keyframes zoomInIndex {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0, 0, 0); }
    100% {
        opacity: 1; } }
    
    @keyframes zoomInIndex {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(5.3, 5.3, 5.3);
        transform: scale3d(0, 0, 0); }
    50% {
        opacity: 1; } }    
/*fin reglas especiales index*/
