@media (max-width: 1260px) {
     /*REGLAS ESPECIALES INDEX */

    .body-index {
            background-image: url(../assets/img/desktop/index-2.jpg);
        }
    
    .h1-index {
        grid-row: 6/11;
        grid-column: 1/3; 
        width: 350px;
        line-height: 60px;
        letter-spacing: 12px;
        font-size:  9.0rem;
    }

    .feiguin {
        letter-spacing: 14px;
        font-size:  5.4rem;
    }    

    /*REGLAS ESPECIALES GALERIA - TABLET*/
    .container-fotos { /***  G R I D S  ***/
        grid-template-columns: repeat(3, 180px);
        row-gap: 3px;
        column-gap: 3px;
        ;
    }
    .foto {
        padding: 3px;
        width: 170px;
        height: 113px;
    } 

    .foto-vert {
        padding: 3px;
        width: 170px;
        height: 255px;
    } 
    
    .container-videos { 
        @include flex (column, center); 
        align-items: center;
    }
    .video__styling {    
        width:500px; 
    }
    /*Fin reglas especiales galeria TABLET*/


}
