@media (max-width: 768px) {  /***  RESPONSIVE A TABLET  ***/

    /*REGLAS DEL NAV, BARRA DE NAVEGACION - TABLET*/
    .navbar {
        font-size: 1.5rem;
    }
    .dropdown-menu {
        --bs-dropdown-font-size: 1.2rem;
        --bs-dropdown-border-color:transparent;
        --bs-dropdown-margin:0;
    }
    /*fin reglas del nav TABLET*/


    /*REGLAS ESPECIALES INDEX - TABLET*/
    .container-index { /***  G R I D S  ***/
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,1fr);
        height: 470px;
        /*align-items: center;*/
    }

    .banner-index {
        background-image: url(../assets/img/tablet/foto-index-tablet.jpg);
    }
    .adam {
        letter-spacing: 1.5rem;
        font-size: 3.2rem;
        /*color: $color-1;*/
        /*grid-column: 8/13;
        grid-row: 11/13;*/
        grid-column: 2/6;
        grid-row: 11/13;
        @include flex (column,center);
        align-items: center;
    }
    .feiguin {
        display: none;
    }

    .nav-index { /***  F L E X B O X  ***/
        grid-column: 11/13;
        grid-row: 1/13;
        width: 100%;
        padding: 5px;
        padding-top: 7px;
        margin: 0px;
        @include flex (column, space-evenly);
        a{ 
            font-size: 1.3rem;
        } 
    }

    
    
      
    /*fin reglas especiales index - TABLET */

    
    /*REGLAS ESPECIALES GALERIA - TABLET*/
    .container-fotos { /***  G R I D S  ***/
        grid-template-columns: repeat(3, 180px);
        row-gap: 3px;
        column-gap: 3px;
        ;
    }
    .foto {
        padding: 3px;
        width: 170px;
    } 
    .container-videos { /***  F L E X B O X  ***/
        @include flex (column,center);
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .video__styling {    
        width:500px; 
    }
    /*Fin reglas especiales galeria TABLET*/


    /*REGLAS ESPECIALES AGENDA - TABLET*/
    .contenedor-agenda { /***  F L E X B O X  ***/
        row-gap: 25px;
        margin-bottom: 25px;
    }
    .card__workshop {
        width: 290px;
        font-size: 0.9rem;
    }
    .img__workshop {
        width: 280px;
    }
    .button-info {
        font-size: 0.9rem;
    }
    /*Fin reglas especiales agenda TABLET*/

    /*REGLAS ESPECIALES CONTACTO - TABLET*/
    .formulario__contacto { /***  F L E X B O X  ***/
        width:80vw; 
    }

}

