@media (max-width: 680px) {  /***  RESPONSIVE A TABLET  ***/

    
    h4 {
        letter-spacing: 3px;
        font-size: 1.9rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    /*REGLAS DEL NAV, BARRA DE NAVEGACION - TABLET*/
    
    .navbar {
        font-size: 2.0rem;
    }
    .dropdown-menu {
        --bs-dropdown-font-size: 1.5rem;
    }
    /*fin reglas del nav TABLET*/


    /*REGLAS ESPECIALES GALERIA - TABLET*/
    .container-fotos { /***  G R I D S  ***/
        grid-template-columns: repeat(3, 180px);
        row-gap: 3px;
        column-gap: 3px;
        ;
    }
    .foto {
        padding: 3px;
        width: 170px;
        height: 113px;
    } 

    .foto-vert {
        padding: 3px;
        width: 170px;
        height: 255px;
    } 
    
    .container-videos { 
        @include flex (column, center); 
        align-items: center;
    }
    .video__styling {    
        width:500px; 
    }
    /*Fin reglas especiales galeria TABLET*/

    /*REGLAS ESPECIALES SOBRE MI - TABLET*/
    .container-texto-bio {
        flex-direction: column;
        row-gap: 20px;
    }
    .foto-bio {
        margin-bottom: 10px;
    }
    .bio-1 {
        margin-top: 20px;
        width: 50%;
        order: 1;
        align-self: flex-start;
        margin-left: 50px;
    }
    .bio-2 {
        width: 50%;
        order: 3;
        align-self: flex-end;
        margin-right: 30px;
    }    
    .bio-3 {
        width: 50%;
        order: 2;
        align-self: center;
    }
    /*fin reglas especiales sobre mi - TABLET */


    


    /*REGLAS ESPECIALES AGENDA - TABLET*/
     .contenedor-agenda { /***  F L E X B O X  ***/
        row-gap: 25px;
        margin-bottom: 25px;
    }
    .card__workshop {
        width: 290px;
        font-size: 0.9rem;
    }
    .img__workshop {
        width: 280px;
        height: 193px;
    }

    /*Fin reglas especiales agenda TABLET*/    

    /*REGLAS ESPECIALES CONTACTO - TABLET*/
    .formulario__contacto { /***  F L E X B O X  ***/
        width:80vw; 
    }
    /*Fin reglas especiales contacto TABLET*/

}

