@media (max-width: 768px) {  /***  RESPONSIVE A TABLET  ***/

    
    h4 {
        letter-spacing: 3px;
        font-size: 1.9rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    /*REGLAS DEL NAV, BARRA DE NAVEGACION - TABLET*/
    .nav-index { /***  F L E X B O X  ***/
        grid-column: 10/13;
        grid-row: 1/13;
        width: 100%;
        padding: 5px;
        padding-top: 7px;
        margin: 0px;
        @include flex (column, space-evenly);
        a{ 
            font-size: 2.0rem;
        } 
    }
    .navbar {
        font-size: 2.0rem;
    }
    .dropdown-menu {
        --bs-dropdown-font-size: 1.5rem;
    }
    /*fin reglas del nav TABLET*/


    /*REGLAS ESPECIALES INDEX - TABLET*/
    .container-index { /***  G R I D S  ***/
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,1fr);
        height: 470px;
        /*align-items: center;*/
    }
    .banner-index {
        background-image: url(../assets/img/tablet/foto-index-tablet.jpg);
    }
    .adam {
        letter-spacing: 1.5rem;
        font-size: 4.2rem;
        /*color: $color-1;*/
        /*grid-column: 8/13;
        grid-row: 11/13;*/
        grid-column: 2/6;
        grid-row: 11/13;
        @include flex (column,center);
        align-items: center;
    }
    .feiguin {
        display: none;
    }
    /*fin reglas especiales index - TABLET */


    /*REGLAS ESPECIALES SOBRE MI - TABLET*/
    .container-texto-bio {
        flex-direction: column;
        row-gap: 20px;
    }
    .foto-bio {
        margin-bottom: 10px;
    }
    .bio-1 {
        margin-top: 20px;
        width: 50%;
        order: 1;
        align-self: flex-start;
        margin-left: 50px;
    }
    .bio-2 {
        width: 50%;
        order: 3;
        align-self: flex-end;
        margin-right: 30px;
    }    
    .bio-3 {
        width: 50%;
        order: 2;
        align-self: center;
    }
    /*fin reglas especiales sobre mi - TABLET */


     /*REGLAS ESPECIALES AGENDA - TABLET*/
     .contenedor-agenda { /***  F L E X B O X  ***/
        row-gap: 25px;
        margin-bottom: 25px;
    }
    .card__workshop {
        width: 290px;
        font-size: 0.9rem;
    }
    .img__workshop {
        width: 280px;
        height: 193px;
    }
    /*.button-info {
        font-size: 1.5rem;
    }*/
    /*Fin reglas especiales agenda TABLET*/    

    /*REGLAS ESPECIALES CONTACTO - TABLET*/
    .formulario__contacto { /***  F L E X B O X  ***/
        width:80vw; 
    }
    /*Fin reglas especiales contacto TABLET*/

}

